## Temporary folders
/temp/
/tmp/
/cache/
/.cache/

## GnuPG (whitelist)
/**/.gnupg/*
!/**/.gnupg/gpg-agent.conf
!/**/.gnupg/gpg.conf
!/**/.gnupg/sshcontrol

## Fcitx5 (whitelist)
/**/.config/fcitx5/*
!/**/.config/fcitx5/conf/
/**/.config/fcitx5/conf/*
/**/.local/share/fcitx5/*

!/**/.config/fcitx5/config
!/**/.config/fcitx5/profile
!/**/.config/fcitx5/conf/notifications.conf
!/**/.config/fcitx5/conf/rime.conf
!/**/.local/share/fcitx5/default.custom.yaml
!/**/.local/share/fcitx5/fcitx5.custom.yaml

## Vifm (whitelist)
/**/.config/vifm/*
!/**/.config/vifm/colors/
!/**/.config/vifm/vifmrc

## Total Commander (whitelist)
/**/AppData/Roaming/GHISLER/*
!/**/AppData/Roaming/GHISLER/conf/
!/**/AppData/Roaming/GHISLER/wincmd.ini

## Fish (whitelist)
/**/.config/fish/*
!/**/.config/fish/config.fish
#!/**/.config/fish/functions/
#!/**/.config/fish/completions/
#!/**/.config/fish/conf.d/

## Custom files
/**/custom.bash
/**/custom.ps1
/**/custom.lua
/**/custom.tmux.conf
