## Bash
.bashrc-custom
.bashrc-overlay

## PowerShell
profile-custom.ps1
profile-overlay.ps1

## Wezterm
wezterm-custom.lua
wezterm-overlay.lua

## Tmux
tmux-custom.conf
tmux-overlay.conf

## Nix build
result
