# Since there is random garbage introduced by some packages, it's a hassle to
# pick our files from it. We use whitelist mode here to avoid troubles.

# First, exclude all files
*

# Include elisp source files but not compiled byte files
!lisp/
!lisp/**
list/**/*.elc
!site-lisp/
!site-lisp/**
site-lisp/**/*.elc

# Include yas-snippet files but not generated elisp files and compiled byte files
!yasnippets/
!yasnippets/**
yasnippets/**/*.el
yasnippets/**/*.elc

# Include my rice config
!rice/
!rice/**

# Include tests
!tests/
!tests/**

# Include GitHub workflows
!.github/
!.github/**

# Include files at the repo root
!.gitignore
!.pew
!LICENSE
!README.md
!README.org
!early-init.el
!init.el
