## Emacs user directory is usually filled with random files. It would be a hassle
## to exclude them all.  Thus whitelist mode is used in this gitignore file.

## First, exclude all files
*

## Include pew config
!/__pew__/
!/__pew__/**
## No compiled ELisp files
/__pew__/**/*.elc

## Include pix config
!/__pix__/
!/__pix__/**

## Include rice config
!/__rice__/
!/__rice__/**

## Include dotfiles
!/__dots__/
!/__dots__/**
## No local configs
/__dots__/**/.bashrc-custom
/__dots__/**/.bashrc-overlay
/__dots__/**/profile-custom.ps1
/__dots__/**/profile-overlay.ps1
/__dots__/**/wezterm-custom.lua
/__dots__/**/wezterm-overlay.lua
/__dots__/**/tmux-custom.conf
/__dots__/**/tmux-overlay.conf

## Include GitHub workflows
!/.github/
!/.github/**

## Include files at the repo root
!/.gitignore
!/LICENSE
!/README.org
!/early-init.el
!/init.el
!/init-mini.el
!/flake.nix
!/flake.lock
!/bin

## Cached package bundle
!/elpa-*.tar.gz
