# Since there are random temporary files introduced by new packages, we use
# whitelist mode to prevent troubles
*
!lisp/
!lisp/**
!site-lisp/
!site-lisp/**
!snippets/
!snippets/**
!.gitignore
!.pew
!LICENSE
!README.md
!early-init.el
!init.el
