# -*- mode: snippet -*-
# name: My blog header
# key: blogheader
# --
---
title: $1
date: `(format-time-string "%Y-%m-%d %H:%M:%S")`
updated: `(format-time-string "%Y-%m-%d %H:%M:%S")`
categories: $2
tags:
    - $3
---

$0