# -*- mode: snippet -*-
# name: Commentary section
# key: section
# --
;;------------------------------------------------------------------------------
;; $1
;;------------------------------------------------------------------------------

$0
