# -*- mode: snippet -*-
# name: New elisp file template
# key: new
# --
;;; `(file-name-nondirectory (buffer-file-name))` --- ${1:Summary} -*- lexical-binding: t -*-
;;; Commentary:

;; $2

;;; Code:

$0

(provide '`(file-name-base (buffer-file-name))`)
;;; `(file-name-nondirectory (buffer-file-name))` ends here