## How to include this file:
##
## [include]
## path = "/path/to/this/file"
##
## Conditional include:
##
## [includeIf "gitdir:/path/to/project/.git"]
## path = "/path/to/this/file"
##

[core]
autocrlf = input
quotepath = false
editor = vim -u NONE

## To make git works with ssh-agent on Windows:
## 1. Enable `OpenSSH Authentication Agent` from `Services` panel
## 2. Add the following section to the gitconfig
#sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[color]
ui = auto
status = auto
branch = auto
diff = auto

[gui]
encoding = utf-8

[i18n "commit"]
encoding = utf-8

[i18n]
logoutputencoding = utf-8

[difftool]
prompt = false
trustExitCode = false

[difftool "vimdiff"]
cmd = vim -u NONE -d $LOCAL $REMOTE

[diff]
tool = vimdiff

[mergetool]
prompt = false
keepBackup = false

[mergetool "vimdiff"]
cmd = vim -u NONE -d $LOCAL $MERGED $REMOTE -c 'wincmd w|wincmd J'

[merge]
tool = vimdiff

[pull]
ff = only

[push]
default = simple

[alias]
# status
s = status

# add
a = add
aa = add .

# checkout
k = checkout

# commit
c = commit
cm = commit -m
can = commit --amend --no-edit
cam = commit --amend

# branch
b = branch
bv = branch -vv

# remote
r = remote
rv = remote -vv
ra = remote add

# log
l = log --graph --pretty=format:'%C(red)%h%C(reset) %C(green)[%an]%C(reset) - %s %C(blue)(%cd) %C(yellow)%d' --date=rfc
lclean = log --graph --pretty=format:'%C(red)%h%C(reset) %C(green)[%an]%C(reset) - %s %C(blue)(%cd) %C(yellow)%d' --date=rfc --decorate-refs=refs/heads
lstat = log --graph --pretty=format:'%C(red)%h%C(reset) %C(green)[%an]%C(reset) - %s %C(blue)(%cd) %C(yellow)%d' --numstat
ldiff = log --pretty=format:'%C(red)%h%C(reset)  %C(green)%an%C(reset)  %s'
ln = log -n 3

# update-index
uisw = update-index --skip-worktree
uinsw = update-index --no-skip-worktree

# ls-files
lsf = ls-files -v
