# -*- mode: snippet -*-
# name: New .el file template
# key: newfile
# --
;;; ${10:`(file-name-nondirectory (buffer-file-name))`} --- $1 -*- lexical-binding: t -*-
;;; Commentary:
;;; Code:

$2

(provide '${11:`(file-name-base (buffer-file-name))`})
;;; $10 ends here